{% extends "main.j2" %}

<title>{% block title %}Add Vehicle{% endblock %}</title>

  <header>
    {% block header %}<h1>Add New Vehicle Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Add #}
  
  {% endblock %}
