{% extends "main.j2" %}

<title>{% block title %}New Sale{% endblock %}</title>

  <header>
    {% block header %}<h1>New Sale</h1>{% endblock %}
  </header>

  {% block body %}
  
<form method='POST'>
  <div class="row">
      {# Employee_Customer_ID  #}
      {# Employee can be a dynamically populating dropdown #}
      <div class="six columns">
        <label for="employeeInput">Employee</label>
        <select id="employee" name="employee" value="{{ request.form['employee'] }}">
          <option value="" selected>Select Employee</option>
        {% for employee in Employees %}
          <option value="{{ employee['employee_id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Employee not found in dropdown?</p>
      <a href="{{ url_for('createEmployee') }}">Add New Employee</a>
    </div>
  <br>
      {# Customer can be a dynamically populating dropdown #}    
    <div class="row">
      <div class="six columns">
        <label for="customerInput">Customer</label>
        <select id="customer" name="customer" value="{{ request.form['customer'] }}">
          <option value="" selected>Select Customer</option>
        {% for customer in Customers %}
          <option value="{{ customer['customer_id'] }}">{{ customer['customer_first_name'] }} {{ customer['customer_last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Customer not found in dropdown?</p>
      <a href="{{ url_for('createCustomer') }}">Add New Customer</a><br>
      <a href="{{ url_for('Employees_Customers_Map') }}">Assign Salesperson</a>
    </div><br>

      {# Vehicle can be a dynamically populating dropdown #}    
    <div class="row">
      <div class="six columns">
        <label for="vehicleInput">Vehicle</label>
        <select id="vehicle" name="vehicle" value="{{ request.form['vehicle'] }}">
          <option value="" selected>Select Vehicle</option>
        {% for vehicle in Vehicles %}
          <option value="{{ vehicle['vin'] }}">{{ vehicle['make'] }} {{ vehicle['model'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Vehicle not found in dropdown?</p>
      <a href="{{ url_for('createVehicle') }}">Add New Vehicle</a>
    </div>
    
    <div class="row">
      <div class="six columns">
        <label for="salePriceInput">Sale Price</label>
        <span>$</span>
        <input class="u-half-width" type="text" id="sale_price" name="sale_price" value="{{ request.form['sale_price'] }}">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="saleDateInput">Sale Date</label>
        <input class="u-half-width" type="date" id="sale_date" name="sale_date" value="{{ request.form['sale_date'] }}">
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="hasCustomerPaidInput">Has Customer Paid?</label>
        <input class="u-half-width" type="checkbox" id="has_customer_paid" name="has_customer_paid">
      </div>
    </div>

    <input class="button-primary" type="submit" value="Submit">
    <a class="button" href="{{ url_for('Sales') }}">Cancel</a></form>  
</form>
  
  {% endblock %}
