{% extends "main.j2" %}

<title>{% block title %}Add Employee{% endblock %}</title>

  <header>
    {% block header %}<h1>Add New Employee Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Add Employee #}
  
  {% endblock %}
