{% extends "main.j2" %}

<title>{% block title %}Add Vehicle{% endblock %}</title>

  <header>
    {% block header %}<h1>Add New Vehicle</h1>{% endblock %}
  </header>

  {% block body %}
  
  <form method='POST'>
  <div class="row">
    <div class="six columns">
      <label for="vinInput">VIN of Vehicle</label>
      <input class="u-full-width" type="text" id="vin" name="vin" value="{{ request.form['vin'] }}" required>

      <label for="vehicleTypeInput">Vehicle Type</label>
      <select id="vehicle_type" name="vehicle_type" value="{{ request.form['vehicle_type'] }}" required>
        <option value="" disabled selected hidden>Select Vehicle Type</option>
        <option value="Coupe">Coupe</option>
        <option value="Hatchback">Hatchback</option>
        <option value="Sedan">Sedan</option>
        <option value="Suv">SUV</option>
        <option value="Truck">Truck</option>     
        <option value="Van">Van</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="makeInput">Make</label>
      <input class="u-half-width" type="text" id="make" name="make" value="{{ request.form['make'] }}" required>

      <label for="modelInput">Model</label>
      <input class="u-half-width" type="text" id="model" name="model" value="{{ request.form['model'] }}" required>

      <label for="yearInput">Year</label>
      <input class="u-half-width" type="text" id="year" name="year" value="{{ request.form['year'] }}" required>

      <label for="colorInput">Color</label>
      <input class="u-half-width" type="text" id="color" name="color" value="{{ request.form['color'] }}" required>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="msrpInput">Suggested Retail Price</label>
      <span>$</span>
      <input class="u-half-width" type="text" id="msrp" name="msrp" value="{{ request.form['msrp'] }}" required>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="isPreOwnedInput">Is Pre-Owned?</label>
      <input class="u-half-width" type="checkbox" id="is_preowned" name="is_preowned">

      <label for="isForSaleInput">Is For Sale?</label>
      <input class="u-half-width" type="checkbox" id="is_for_sale" name="is_for_sale">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit">
  <a class="button" href="{{ url_for('Vehicles') }}">Cancel</a>
</form>
  
  
  {% endblock %}
