{% extends "main.j2" %}

<title>{% block title %}New Sale{% endblock %}</title>

  <header>
    {% block header %}<h1>New Sale Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Add #}
  
  {% endblock %}
