{% extends "main.j2" %}

<title>{% block title %}Customers{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Customers Page</h1>
    {% endblock %}
  </header>

  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createCustomer') }}">Add New Customer</a>
    <li><a href="{{ url_for('updateCustomer') }}">Update Customer</a>  
  </ul>

  <h3>Customer Search</h3>
    <form>
      <input type="text" placeholder="Search...">
      <input type="submit" value="Submit">
    </form>

  <table class="u-full-width">
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Street Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Smith</td>
      <td>123 Sesame Street</td>
      <td>New York City</td>
      <td>NY</td>
      <td>10020</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sally</td>
      <td>Stevens</td>
      <td>368 Broadway Street</td>
      <td>St. Paul</td>
      <td>MN</td>
      <td>55473</td>
    </tr>
  </tbody>
</table>

  {% endblock %}
