{% extends "main.j2" %}

<title>{% block title %}Employees{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Employees Page</h1>
    {% endblock %}
  </header>

  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createEmployee') }}">Add New Employee</a>
    <li><a href="{{ url_for('updateEmployee') }}">Update Employee</a>  
  </ul>

  <h3>Employee Search</h3>
    <form>
      <input type="text" placeholder="Search...">
      <input type="submit" value="Submit">
    </form>

  
  <table class="u-full-width">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Date of Hire</th>
      <th>Date of Termination</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>John</td>
      <td>Smith</td>
      <td>Salesperson</td>
      <td>04/16/2021</td>
      <td>NULL</td>
      <td>(123) 456-7890</td>
      <td>john.smith@beavmotors.com</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sally</td>
      <td>Stevens</td>
      <td>Salesperson</td>
      <td>04/10/2021</td>
      <td>NULL</td>
      <td>(123) 456-7890</td>
      <td>sally.stevens@beavmotors.com</td>
    </tr>
  </tbody>
</table>
  
  {% endblock %}
