{% extends "main.j2" %}

<title>{% block title %}Assign Salesperson{% endblock %}</title>

  <header>
    {% block header %}
    
    <h1>Assign Salesperson</h1>
    <h4>(Create or Delete Rows from Employees_Customers_Map)</h4>

    {% endblock %}
  </header>

  {% block body %}
  
  <form method="POST">
  <div class="row">
      <div class="six columns">
        <label for="employeeInput">Employee</label>
        <select id="employee_id" name="employee_id" value="{{ request.form['employee_id'] }}" required>
          <option value="" selected>Select Employee</option>
        {% for employee in Employees %}
          <option value="{{ employee['employee_id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Employee not found in dropdown?</p>
      <a href="{{ url_for('createEmployee') }}">Add New Employee</a>
    </div>
  </div>

  
    <div class="row">
      <div class="six columns">
        <label for="customerInput">Customer</label>
        <select id="customer_id" name="customer_id" value="{{ request.form['customer_id'] }}" required>
          <option value="" selected>Select Customer</option>
        {% for customer in Customers %}
          <option value="{{ customer['customer_id'] }}">{{ customer['customer_first_name'] }} {{ customer['customer_last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Customer not found in dropdown?</p>
      <a href="{{ url_for('createCustomer') }}">Add New Customer</a><br>
    </div>
    <br>

  <input class="button-primary" type="submit" value="Submit">
  <a class="button" href="{{ url_for('root') }}">Cancel</a></form>  

</form>

  <h3>Employees_Customers_Map</h3>
  
  <table class="u-full-width">
  <thead>
    <tr>
      <th>Employee_Customer_ID</th>
      <th>Employee First Name</th>
      <th>Employee Last Name</th>
      <th>Customer First Name</th>
      <th>Customer Last Name</th>
      <th>Delete Employee_Customer</th>
    </tr>
  </thead>
  <tbody>
  {% for employee_customer in Employees_Customers_Map %}
    <tr>
      <td>{{ employee_customer['employee_customer_id'] }}</td>
      {% for employee in Employees if employee['employee_id'] == employee_customer['employee_id'] %}
        <td>{{ employee['first_name'] }}</td>
        <td>{{ employee['last_name'] }}</td>
      {% endfor %}
      {% for customer in Customers if customer['customer_id'] == employee_customer['customer_id'] %}
        <td>{{ customer['customer_first_name'] }}</td>
        <td>{{ customer['customer_last_name'] }}</td>
      {% endfor %}
      <td><a class="action" href="{{ url_for('deleteEmployeeCustomer', id=employee_customer['employee_customer_id']) }}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  
  {% endblock %}
