{% extends "main.j2" %}

<title>{% block title %}Employees{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Employees</h1>
    {% endblock %}
  </header>

  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createEmployee') }}">Add New Employee</a>
  </ul>

  <h3>Employee Search</h3>
    <form>
      <input type="text" placeholder="Search...">
      <input type="submit" value="Submit">
    </form>

  
  <table class="u-full-width">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Date of Hire</th>
      <th>Date of Termination</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Update</th>

    </tr>
  </thead>
  <tbody>
  {% for employee in Employees %}
    <tr>
      <td>{{ employee['employee_id'] }}</td>
      <td>{{ employee['first_name'] }}</td>
      <td>{{ employee['last_name'] }}</td>
      <td>{{ employee['title'] }}</td>
      <td>{{ employee['date_of_hire'] }}</td>
      <td>{{ employee['date_of_termination'] }}</td>
      <td>{{ employee['phone'] }}</td>
      <td>{{ employee['email'] }}</td>
      <td><a class="action" href="{{ url_for('updateEmployee', id=employee['employee_id']) }}">Edit</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  
  {% endblock %}
