<html>
<head>
  <title>Rapid Beaver Motors | {% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  
  <link href="//fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
</head>

<div class="container">
  {# Navigation Menu #}
  <nav>
    <br> 
    <h1>Rapid Beaver Motors</h1>
    <br>
    <div class="row">
      <div class="two columns"><a href="{{ url_for('root') }}">Home</a></div>
      <div class="two columns"><a href="{{ url_for('Employees') }}">Employees</a></div>
      <div class="two columns"><a href="{{ url_for('Customers') }}">Customers</a></div>
      <div class="two columns"><a href="{{ url_for('Vehicles') }}">Vehicles</a></div>
      <div class="two columns"><a href="{{ url_for('Sales') }}">Sales</a></div>
      <div class="two columns"><a href="{{ url_for('Employees_Customers_Map') }}">Assign Salesperson</a></div>
    </div>
    <hr>
</div>

<br>

<section class="content container">
  <header>

    {% block header %}{% endblock %}
  </header>

  {% block body %}
  <h1>Home</h1>
  <br>
  <br>
  <br>
  <br>
  <img src="{{url_for('static', filename='favicon.ico') }}" style="height: 8%; margin-left: 45%">
  <br>
  <br>
  <h4 style="text-align: center">Developed by Nick Reitano and Matt Morgan</h4>
  {% endblock %}
</section>

