<html>
<head>
  <title>Rapid Beaver Motors | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>


<div class="container">
  {# Navigation Menu #}
  <nav>
    <h1>Rapid Beaver Motors - Index</h1>
    <h3>Index of Pages</h3>
    <div class="row">
      <div class="two columns"><a href="{{ url_for('root') }}">Home</a></div>
      <div class="two columns"><a href="{{ url_for('Employees') }}">Employees</a></div>
      <div class="two columns"><a href="{{ url_for('Customers') }}">Customers</a></div>
      <div class="two columns"><a href="{{ url_for('Vehicles') }}">Vehicles</a> </div>
      <div class="two columns"><a href="{{ url_for('Sales') }}">Sales</a></div>
    </div>
    <br>
    <div class="row">
      <div class="offset-by-two two columns"><a href="{{ url_for('createEmployee') }}">Add New Employee</a></div>
      <div class="two columns"><a href="{{ url_for('createCustomer') }}">Add New Customer</a></div>
      <div class="two columns"><a href="{{ url_for('createVehicle') }}">Add New Vehicle</a></div>
      <div class="two columns"><a href="{{ url_for('createSale') }}">Add New Sale</a></div>
    </div>
    <br>
    <div class="row">
      <div class="offset-by-two two columns"><a href="{{ url_for('updateEmployee') }}">Update Employee</a></div>
      <div class="two columns"><a href="{{ url_for('createCustomer') }}">Add New Customer</a></div>
      <div class="two columns"><a href="{{ url_for('updateVehicle') }}">Update Vehicle</a></div>
      <div class="two columns"><a href="{{ url_for('updateSale') }}">Update Sale</a>  
    </div>
  </nav>
</div>

<br>

<section class="content container">
  <header>

    {% block header %}{% endblock %}
  </header>

  {% block body %}
  {% endblock %}
</section>

