{% extends "main.j2" %}

<title>{% block title %}Sales{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Sales</h1>
    {% endblock %}
  </header>
  
  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createSale') }}">Add New Sale</a>
  </ul>

  <h3>Sales Search by Employee Name, Customer Name, Make, or Model</h3>
  <form method='GET'>
    <input type="search" placeholder="Search..." name="searchTerm"/>
    <button type="submit">Search</button>
    <br>
    <a class="action" href="{{ url_for('Sales') }}">Clear Search Filter</a>    
  </form>
  
  <table class="u-full-width">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Employee Customer ID</th>
      <th>Make</th>
      <th>Model</th>      
      <th>Employee Name</th>
      <th>Customer Name</th>      
      <th>Sale_Price</th>
      <th>Sale_Date</th>
      <th>Has Customer Paid?</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for sale in Sales %}
    <tr>
      <td>{{ sale['vin'] }}</td>
      <td>{{ sale['employee_customer_id'] }}
      {% for vehicle in Vehicles if vehicle['vin'] == sale['vin'] %}
        <td>{{ vehicle['make'] }}</td>
        <td>{{ vehicle['model'] }}</td>
      {% endfor %} 
      {% for employee_customer in Employees_Customers_Map if sale['employee_customer_id'] == employee_customer['employee_customer_id'] %}        
        {% for employee in Employees if employee['employee_id'] == employee_customer['employee_id'] %}
          <td>{{ employee['first_name'] }} {{ employee['last_name'] }}</td>
        {% endfor %}
        {% for customer in Customers if customer['customer_id'] == employee_customer['customer_id'] %}
          <td>{{ customer['customer_first_name'] }} {{ customer['customer_last_name'] }}</td>
        {% endfor %}      
        {% else %}
        <td>Removed</td>
        <td>Removed</td>        
      {% endfor %}
      <td>{{ sale['sale_price'] }}</td>
      <td>{{ sale['sale_date'] }}</td>
      <td>
        {% if sale['has_customer_paid'] == 0 %}
          No
        {% else %}
          Yes
        {% endif %}
      </td>
      <td><a class="action" href="{{ url_for('updateSale', id=sale['sale_id']) }}">Edit</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% endblock %}
