{% extends "main.j2" %}

<title>{% block title %}Update Sale{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Sale</h1>{% endblock %}
  </header>

  {% block body %}
  
<form method='POST'>
  <div class="row">
      {# Employee_Customer_ID  #}
      <div class="six columns">
        <label for="employeeInput">Employee</label>
        <select id="employee" name="employee" value="{{ request.form['employee'] or sale['employee']}}" required>

        {% for employee_customer in Employees_Customers_Map if sale['employee_customer_id'] == employee_customer['employee_customer_id'] %}
          {% for employee in Employees if employee_customer['employee_id'] == employee['employee_id'] %}
          <option selected value="{{ employee['employee_id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
          {% endfor %}
        {% endfor %}

        {% for employee in Employees %}
          <option value="{{ employee['employee_id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Employee not found in dropdown?</p>
      <a href="{{ url_for('createEmployee') }}">Add New Employee</a>
    </div>
  <br>
      {# Customer can be a dynamically populating dropdown #}    
    <div class="row">
      <div class="six columns">
        <label for="customerInput">Customer</label>
        <select id="customer" name="customer" value="{{ request.form['customer'] or sale['customer'] }}" required>

        {% for employee_customer in Employees_Customers_Map if sale['employee_customer_id'] == employee_customer['employee_customer_id'] %}
          {% for customer in Customers if employee_customer['customer_id'] == customer['customer_id'] %}
          <option selected value="{{ customer['customer_id'] }}">{{ customer['customer_first_name'] }} {{ customer['customer_last_name'] }}</option>
          {% endfor %}
        {% endfor %}

        {% for customer in Customers %}
          <option value="{{ customer['customer_id'] }}">{{ customer['customer_first_name'] }} {{ customer['customer_last_name'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Customer not found in dropdown?</p>
      <a href="{{ url_for('createCustomer') }}">Add New Customer</a><br>
      <a href="{{ url_for('Employees_Customers_Map') }}">Assign Salesperson</a>
    </div><br>

      {# Vehicle can be a dynamically populating dropdown #}    
    <div class="row">
      <div class="six columns">
        <label for="vehicleInput">Vehicle</label>
        <select id="vehicle" name="vehicle" value="{{ request.form['vehicle'] or sale['vehicle'] }}" required>

        {% for vehicle in Vehicles if sale['vin'] == vehicle['vin'] %}
          <option selected value="{{ vehicle['vin'] }}">{{ vehicle['make'] }} {{ vehicle['model'] }}</option>
        {% endfor %}

        {% for vehicle in Vehicles %}
          <option value="{{ vehicle['vin'] }}">{{ vehicle['make'] }} {{ vehicle['model'] }}</option>
        {% endfor %}
        </select>
      </div>
      <p>Vehicle not found in dropdown?</p>
      <a href="{{ url_for('createVehicle') }}">Add New Vehicle</a><br>
      <a href="{{ url_for('Vehicles') }}">Update a vehicle and make sure the "Is for Sale?" Checkbox is selected</a>
    </div>
    
    <div class="row">
      <div class="six columns">
        <label for="salePriceInput">Sale Price</label>
        <span>$</span>
        <input class="u-half-width" type="text" id="sale_price" name="sale_price" value="{{ request.form['sale_price'] or sale['sale_price'] }}" required>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="saleDateInput">Sale Date</label>
        <input class="u-half-width" type="date" id="sale_date" name="sale_date" value="{{ request.form['sale_date'] or sale['sale_date'] }}" required>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="hasCustomerPaidInput">Has Customer Paid?</label>
        <input class="u-half-width" type="checkbox" id="has_customer_paid" name="has_customer_paid">
      </div>
    </div>

    <input class="button-primary" type="submit" value="Submit">
    <a class="button" href="{{ url_for('Sales') }}">Cancel</a></form>   
</form>

{# Delete Button #}
<form action="{{ url_for('deleteSale', id=sale['sale_id']) }}" method="POST">
  <input class="button" type="submit" value="Delete Sale">
</form>
  
  {% endblock %}
