{% extends "main.j2" %}

<title>{% block title %}Update Customer{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Customer Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Update Customer Based on id #}
  
  {% endblock %}
