{% extends "main.j2" %}

<title>{% block title %}Update Employee{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Employee Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Update Employee Based on id #}
  
  {% endblock %}
