{% extends "main.j2" %}

<title>{% block title %}Update Vehicle{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Vehicle Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Update Vehicle Based on id #}
  
  {% endblock %}
