{% extends "main.j2" %}

<title>{% block title %}Update Sale{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Sale</h1>{% endblock %}
  </header>

  {% block body %}
  
   <form>
  <div class="row">
    {# Employee_Customer_ID  #}
    {# Employee can be a dynamically populating dropdown #}
    <div class="six columns">
      <label for="employeeInput">Employee</label>
      <select name="employeeInput" id="employeeInput">
        <option value="" disabled selected hidden>Select Employee</option>
        <option value="option1">Dynamically Populated Name 1</option>
        <option value="option2">Dynamically Populated Name 2</option>
        <option value="option3">Dynamically Populated Name 3</option>
      </select>
    </div>
      <a href="{{ url_for('createEmployee') }}">Add New Employee</a>
  </div>

    {# Customer can be a dynamically populating dropdown #}    
  <div class="row">
    <div class="six columns">
      <label for="customerInput">Customer</label>
      <select name="customerInput" id="customerInput">
        <option value="" disabled selected hidden>Select Customer</option>
        <option value="option1">Dynamically Populated Customer Name 1</option>
        <option value="option2">Dynamically Populated Customer Name 2</option>
        <option value="option3">Dynamically Populated Customer Name 3</option>
      </select>
    </div>
    <a href="{{ url_for('createCustomer') }}">Add New Customer</a>
  </div>

    {# Vehicle can be a dynamically populating dropdown #}    
  <div class="row">
    <div class="six columns">
      <label for="vehicleInput">Vehicle</label>
      <select name="vehicleInput" id="vehicleInput">
        <option value="" disabled selected hidden>Select Vehicle</option>
        <option value="option1">Dynamically Populated Vehicle 1</option>
        <option value="option2">Dynamically Populated Vehicle 2</option>
        <option value="option3">Dynamically Populated Vehicle 3</option>
      </select>
    </div>
    <a href="{{ url_for('createVehicle') }}">Add New Vehicle</a>
  </div>
  
  <div class="row">
    <div class="six columns">
      <label for="salePriceInput">Sale Price</label>
      <span>$</span>
      <input class="u-half-width" type="text" id="salePriceInput">
    </div>

    <div class="six columns">
      <label for="saleDateInput">Sale Date</label>
      <input class="u-half-width" type="date" id="saleDateInput">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <label for="hasCustomerPaidInput">Has Customer Paid?</label>
      <input class="u-half-width" type="checkbox" id="hasCustomerPaidInput">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit">
  <a class="button" href="{{ url_for('Sales') }}">Cancel</a></form>  
</form>

<a class="button" href="{{ url_for('Sales') }}">Delete Sale</a>
  
  {% endblock %}
