{% extends "main.j2" %}

<title>{% block title %}Update Sale{% endblock %}</title>

  <header>
    {% block header %}<h1>Update Sale Page</h1>{% endblock %}
  </header>

  {% block body %}
  
  {# Form to Update Sale Based on id #}
  
  {% endblock %}
