{% extends "main.j2" %}

<title>{% block title %}Vehicles{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Vehicles</h1>
    {% endblock %}
  </header>

  {% block body %}

  <form action="{{ url_for('createVehicle') }}">
    <button class="button-primary" type="submit">Add New Vehicle</button>
  </form>
  
  <h3>Vehicle Search by Type, Make, Model, Year, or Color</h3>
  <form method='GET'>
    <input type="search" placeholder="Search..." name="searchTerm"/>
    <button type="submit">Search</button>
    <br>
    <a class="action" href="{{ url_for('Vehicles') }}">Clear Search Filter</a>    
  </form>

  <table class="u-full-width">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Vehicle Type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Is Pre-Owned?</th>
      <th>Is For Sale?</th>
      <th>MSRP</th>
      <th>Update</th>      
    </tr>
  </thead>
  <tbody>
  {% for vehicle in Vehicles %}
    <tr>
      <td>{{ vehicle['vin'] }}</td>
      <td>{{ vehicle['vehicle_type'] }}</td>
      <td>{{ vehicle['make'] }}</td>
      <td>{{ vehicle['model'] }}</td>
      <td>{{ vehicle['year'] }}</td>
      <td>{{ vehicle['color'] }}</td>
      <td>
        {% if vehicle['is_preowned'] == 0 %}
          No
        {% else %}
          Yes
        {% endif %}
      </td>
      <td>
        {% if vehicle['is_for_sale'] == 0 %}
          No
        {% else %}
          Yes
        {% endif %}
      </td>
      <td>{{ vehicle['msrp'] }}</td>
      <td><a class="action" href="{{ url_for('updateVehicle', id=vehicle['vin']) }}">Edit</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% endblock %}
