{% extends "main.j2" %}

<title>{% block title %}Vehicles{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Vehicles</h1>
    {% endblock %}
  </header>

  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createVehicle') }}">Add New Vehicle</a>
    <li><a href="{{ url_for('updateVehicle') }}">Update Vehicle</a>  
  </ul>
  
  <h3>Vehicle Search</h3>
    <form>
      <input type="text" placeholder="Search...">
      <input type="submit" value="Submit">
    </form>


  <table class="u-full-width">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Vehicle Type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Is Pre-Owned?</th>
      <th>Is For Sale?</th>
      <th>Sale ID</th>
      <th>Update</th>      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1FUJBGAN04HM86987</td>
      <td>Truck</td>
      <td>Ford</td>
      <td>F-150</td>
      <td>2021</td>      
      <td>Black</td>
      <td>No</td>
      <td>Yes</td>
      <td>NULL</td>
      <td><a href="{{ url_for('updateVehicle') }}">Edit</a></td>       
    </tr>
    <tr>
      <td>WVWAF93D258002461</td>
      <td>Sedan</td>
      <td>Ford</td>
      <td>Fusion</td>
      <td>2013</td>
      <td>Silver</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>476</td>
      <td><a href="{{ url_for('updateVehicle') }}">Edit</a></td>       
    </tr>
  </tbody>
</table>

  {% endblock %}
