{% extends "main.j2" %}

<title>{% block title %}Vehicles{% endblock %}</title>

  <header>
    {% block header %}
    <h1>Vehicles Page</h1>
    {% endblock %}
  </header>

  {% block body %}

  <h3>Subpages</h3>
  <ul>
    <li><a href="{{ url_for('createVehicle') }}">Add New Vehicle</a>
    <li><a href="{{ url_for('updateVehicle') }}">Update Vehicle</a>  
  </ul>
  
  <h3>Vehicle Search</h3>
    <form>
      <input type="text" placeholder="Search...">
      <input type="submit" value="Submit">
    </form>

  {% endblock %}
